<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container">
        <h2 id="title"><a href="//r.ainyday.com">lazy weather</a></h2>
        {% block content %}{% endblock %}



        {% include "footer.html" %}

    </div>

  </body>
</html>
