body {
  font-family: Helvetica;
  font-size: 1.25em;
  padding-top: 2em;
  background: url('/img/rainy-day-a.jpg');
}

#container {
  width: 646px;
  margin: 0 auto;
  background: white;
  text-align: center;
  border-style: solid;
  border-width: 2px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;


}


